<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('../partials/styles') %>
    <link rel="stylesheet" href="../styles/schedule-index.css">
    <script src="../scripts/schedule-index.js" defer></script>
</head>

<body>
    <%- include('../partials/header') %>

    <main>
        <ul>
            <% schedule.forEach(schedule =>{ %>
            <li id="<%=schedule._id%>">
                <section class="description">
                    <h1><%=schedule.companyName%></h1>
                    <p>Schedule Name: <%=schedule.scheduleName%></p>
                    <p>Open Time: <%=schedule.openTime%>:00</p>
                    <p>Close Time: <%=schedule.closeTime%>:00</p>
                </section>
                <% if (schedule.user == user.id) {%>
                <section class="links">
                    <!-- edit link -->
                    <a href="/schedules/<%=schedule._id %>/edit">(edit)</a>

                    <!-- delete -->
                    <form action="/schedules/<%=schedule._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </section>
                <%}%>
            </li>
            <% }); %>
        </ul>
    </main>
</body>

</html>