<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <%- include('../partials/styles') %>
    <link rel="stylesheet" href="../styles/appointment.css">
</head>

<body>
    <%- include ('../partials/header') %>
    <main>
        <p>Company Name: <%= appointment.schedule.companyName %></p>
        <p>Schedule Name: <%= appointment.schedule.scheduleName %></p>
        <p>Your Name: <%= appointment.name %></p>
        <p>Your Message: <%= appointment.message %></p>
        <p>Date/Time: <%= appointment.time %></p>
        <% if (user.id == appointment.user) {%>
            <section>
                <a href="/appointments/<%=appointment._id%>/edit">Edit</a>
            </section>
            <form action="/appointments/<%=appointment._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
            </form>
        <%}%>
    </main>
</body>

</html>